#container{
    background-color: rgb(203, 247, 205);
    height: 460px;

    button{
        padding: 6px 27px 7px 26px;
        text-decoration: none;
        font-size: .70em;
        font-weight: bold;
        color: #556;
        border-style: solid;
        border-width: 1px;
        border-color: #bfbfbf #139511 #139511 #bfbfbf;
        background-color: rgb(170, 247, 170);
        margin: 20px;
      
    }
    p{
        color: #000000;
        margin-left: 20px;
    }

    h6{
        color: #08f34e;
        margin-left: 20px;
    }
    .pg{
    margin-left: 100px;
    }
}


    section #container{
        min-height: 80vh;
        background-color: rgb(3, 17, 29);
        float: left;
        width:70%;
    }
    
    a, a:link, a:active, a:visited {
        text-decoration: none;
        color: #3683ba;
        margin: 55px;

    }

    .enlaces{
        display: flex;
        flex-direction: row;
    }
    @media screen and ( max-width:150px){
       
        
        selection#container{
            width: 100%;
            
        }
    }
    @media screen and ( max-width:360px){
       
        
        section{
            .preguntas {
         margin-left: 2px;
         width: auto;
            
        }
        }
       
    }