<div id="panel" class="ms-5">
    <form >
      <button type="button" id="bt1" (click)="pregunta1()">1</button>  
      <button type="button" id="bt2"  (click)="pregunta2()">2</button>
      <button type="button" id="bt3"  (click)="pregunta3()">3</button>  
      <button type="button" id="bt4"  (click)="pregunta4()">4</button>
      <button type="button" id="bt5"   (click)="pregunta5()">5</button>  
      <button type="button" id="bt6"  (click)="pregunta6()">6</button>
      <button type="button" id="bt7"  (click)="pregunta7()">7</button>  
      <button type="button" id="bt8"  (click)="pregunta8()">8</button>
      <button type="button" id="bt9"  (click)="pregunta9()">9</button>  
      <button type="button" id="bt10" (click)="pregunta10()">10</button>
      
    </form>
   
  </div>

